.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: $darker;
}

.navigation__list {
  display: flex;
  justify-content: center;
  height: 100%;

  list-style: none;
}

.navigation__item {
  position: relative;
  display: block;
  padding: 0.5em;
  color: white;
  font-size: 1.5em;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    // z-index: 1;
    display: none;
    border-radius: 50% 50% 0 0;
    pointer-events: none;
  }
}

#about-me {
  background-color: $secundary;
  &::before {
    background-color: $secundary;
  }
}

#projects {
  background-color: $primary;
  &::before {
    background-color: $primary;
  }
}

.going_to::before {
  display: block;
  animation-name: going_to;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-fill-mode: forwards;
}

@keyframes going_to {
  from {
    top: 0%;
    width: 0;
    height: 0;
  }
  to {
    width: 1500%;
    height: 1500%;
    top: -1500%;
  }
}
