.intro {
  height: 100vh;
}

.intro__content {
  height: 99%;
  background-color: $secundary;
  overflow: scroll;
}

.intro__my-name {
  height: 20vh;
  padding: 0 5px;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.my-description {
  line-height: 20px;
  margin: auto;
  width: 90%;
  color: white;
  text-align: justify;

  &::first-letter {
    font-size: 3em;
  }
}

@import "../animations/letters";
