// $primary: #403f4c;
// $secundary: #2c2b3c;
// $terciary: #1b2432;
// $darker: #121420;
// $contras: #b76d68;

// $primary: #e3e4db;
// $secundary: #cdcdcd;
// $terciary: #aea4bf;
// $darker: #8f6593;
// $contras: #3b252c;

$primary: #00adb5;
$secundary: #eeeeee;
$terciary: #393e46;
$darker: #222831;
$contras: #14ffec;
